# Byte-compiled / optimized / DLL files
__pycache__/
custom_components/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyc
test/
env/
custom_components/norwegianweather/tmp/rawdata.json
custom_components/norwegianweather/tmp/setup.json
